body {
    margin: 0;
}

.playa {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.cielo {
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 4;
    padding: 20px 150px 0;
    background-color: #61C1E8;
}

.sol,
.playa_contenido {
    animation: showContent 2s linear;
    width: fit-content;
}

.playa_titulo {
    padding: 0.3rem 0.5rem;
    width: fit-content;
    transition: all 0.8s ease-out;
}

.playa_titulo:hover {
    position: relative;
    transform: scale(1.3);
    border: 1px solid red;
    border-radius: 30px;
    box-shadow: 0 0 15px 15px red;
    background: black;
    color: red;
    transform: rotate(1turn);
}

.playa_texto {
    transition: all .5s;
}

.playa_texto:hover {
    color: red;
    transform: scale(1.4);
    text-shadow: 2px 2px 3px black;
    letter-spacing: 0.7px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.sol {
    position: relative;
    top: 0%;
    left: -40%;
    transition: all .5s ease;
    transform-origin: 10%;
}

.sol:hover {
    transform: scale(0.7);
    border: 1px solid #ecf00e;
    border-radius: 50%;
    box-shadow: 0 0 10px 25px #ecf00e;
    background: #ecf00e;
}

.sombrilla{
    position: relative;
    right: 500px;
}

.playa_contenido {
    color: #FFF;
    font-family: monospace;
}

.playa_titulo {
    font-size: 32px;
}

.playa_texto {
    font-size: 16px;
}

.arena {
    align-items: flex-end;
    background-color: #F1EDD9;
    display: inherit;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 0 300px;
    position: relative;
}

.sombrilla_top {
    left: 100px;
    position: absolute;
    top: 20px;
}

.hojas,
.sombrilla_top {
    transform-origin: 100%;
    animation: moveToRight 2s linear infinite;
}

.sombrilla_top:hover,
.hojas:hover {
    animation: moveToRight 0.25s linear infinite;
}

.playa_palmera {
    animation: showContent 2s linear;
    left: 40%;
    position: absolute;
    top: -80px;
    z-index: 8;
    transform: rotateY(180deg)
}

.coco {
    position: relative;
    transition: all .5s linear;
}

.coco:hover {
    fill: #52370f;
    transform-origin: -5%;
    transform: scale(1.1);
}

.mujer {
    z-index: 10;
}

.mujer {
    transition: all 0.7s ease-in;
}

.mujer:hover {
    opacity: 0.5;
}

.pelota_playa {
    animation: moveToLeft 2s ease-in;
    position: absolute;
    top: 50px;
    right: 200px;
    z-index: 11;
}


@keyframes showContent {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0.6
    }

    100% {
        opacity: 1
    }
}

@keyframes moveToRight {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(0.5deg)
    }

    20% {
        transform: rotate(1deg)
    }

    30% {
        transform: rotate(1.5deg)
    }

    40% {
        transform: rotate(1.3deg)
    }

    50% {
        transform: rotate(1deg)
    }

    60% {
        transform: rotate(0.5deg)
    }

    70% {
        transform: rotate(0.3deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes moveToLeft {
    0% {
        -webkit-transform: translate(615.0px, -193.0px);
    }

    10% {
        -webkit-transform: translate(598.9px, -204.5px);
    }

    20% {
        -webkit-transform: translate(572.2px, -217.1px);
    }

    30% {
        -webkit-transform: translate(544.7px, -222.9px);
    }

    40% {
        -webkit-transform: translate(516.7px, -222.9px);
    }

    50% {
        -webkit-transform: translate(488.5px, -217.7px);
    }

    60% {
        -webkit-transform: translate(460.6px, -207.9px);
    }

    70% {
        -webkit-transform: translate(433.2px, -194.3px);
    }

    80% {
        -webkit-transform: translate(406.7px, -177.6px);
    }

    90% {
        -webkit-transform: translate(381.6px, -158.4px);

    }

    100% {
        -webkit-transform: translate(200.0px, 0px);
    }



}